body {
    background-color: #000000;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 50px 50px;
    font-weight: 700;
    text-align: center;
 }

h1 {
    font-size: 4rem;
    margin: 2rem 0;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
}

option, button {
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #9800eb;
}

button {
    margin: 10px 0px 10px 0px;
}
