body {
  background-color: #000000;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 50px 50px;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

option, button {
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #9800eb
}
